.menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 20px;
    z-index: 999;
    background-color: rgb(26, 50, 116);
    box-shadow: 0px 3px 20px #00000007;
}

.s1 {
    background-color: aliceblue;
    color: rgb(22, 45, 107);
    height: 60vh;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.s1 p {
    font-size: 30px;
    width: 500px;
    margin-top: -200px;
    text-align: left;

}

.s2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    flex-wrap: wrap;
}

.s2 div {
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    width: 600px;
}

.s2 div h2 {
    font-size: 45px;
    text-align: center;
}

.s2 div p {
    font-size: 30px;
    text-align: left;
}

.s3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    flex-wrap: wrap;
}

.s3 div {
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    width: 600px;
}

.s3 div h2 {
    font-size: 45px;
    text-align: center;
}

.s3 div p {
    font-size: 30px;
    text-align: left;
}

.s4{
      display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    width: 45%;
    margin: 0 auto;
}

.s4 p {
    font-size: 30px;
    width: 500px;
    text-align: left;
}

.s4 h2{
    font-size: 40px;
    width: 500px;
    text-align: center;
}

.img{
    width: 400px;
    height: 400px;
    transition: all 200ms ease-in-out;
}
.img:hover{
    transform: scale(1.1);
}

.s5 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    flex-wrap: wrap;
}

.s5 div {
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    width: 600px;
}

.s5 div h2 {
    font-size: 45px;
    text-align: center;
}

.s5 div p {
    font-size: 30px;
    text-align: left;
}

.rodape {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgba(24, 66, 122, 0.801);
    border-top: 2px solid rgb(8, 29, 87);
}


.tecTitle {
    width: 100%;
    text-align: center;
    color: #0400ffa8;
    font-size: 56px;
    letter-spacing: 10px;
    font-weight: bold;
}



@media (width <=883px) {
    .menu {
        padding: 50px;
        height: auto;
        flex-wrap: wrap;
    }

    .s1 {
        padding-top: 280px;
        height: auto;
        gap: 0;
    }


    .s1 p {
        padding: 20px;
        margin-top: 0px;
    }


    .s4{
        width: 95%;
        

    }


}